<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.home.kidmonitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/merlyn/fun/kid-monitor/monitor.sh</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/merlyn/fun/kid-monitor/log/kidmonitor.monitor.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/merlyn/fun/kid-monitor/log/kidmonitor.monitor.stderr.log</string>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>