<html>
  <head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <style>
      .time {
      	color: white;
	      font-size: 40px;
	      text-shadow: -2px 2px 0 #000,
                     2px 2px 0 #000,
                     2px -2px 0 #000,
                     -2px -2px 0 #000;
      }
    </style>

    <script>
      $(function() {
        $('.preview').on('mouseover', function() {
          var preview = $(this)
          $('#main').attr('src', "static/images/"+preview.attr('id'))
        })
        $('.preview').on('mouseleave', function() {
          $('#main').attr('src', "static/images/{{ images[99] }}")
        })
      })
    </script>
  </head>
  <body style="margin:0; padding:0;">
    <div style="width:100%; height:100%;">
      <img id="main" src="static/images/{{ images[99] }}" style="width:100%; height:100%;">
      <span class="time" style="position:absolute; left:0.5em; right:0.5em;">{{ ':'.join(images[99].split('-')[3:6])[0:5] }}</span>
    </div>

    <div style="width:100%; height:10%; position:absolute; left: 0.5em; bottom: 25.5em; display: flex;">
      {% for image in [images[98], images[97], images[96], images[95], images[94], images[93], images[92], images[91], images[90]] %}
        <div style="width:10%; height:100%; margin-right: 0.5em;">
          <img class="preview" id="{{ image }}" src="static/images/{{ image }}" style="width:100%; height:100%;">
          <span class="time" style="display: block;">{{ ':'.join(image.split('-')[3:6])[0:5] }}</span>
        </div>
      {% endfor %}
    </div>

    <div style="width:100%; height:10%; position:absolute; left: 0.5em; bottom: 10.5em; display: flex;">
      {% for image in [images[80], images[70], images[60], images[50], images[40], images[30], images[20], images[10], images[0]] %}
        <div style="width:10%; height:100%; margin-right: 0.5em;">
          <img class="preview" id="{{ image }}" src="static/images/{{ image }}" style="width:100%; height:100%;">
          <span class="time" style="display: block;">{{ ':'.join(image.split('-')[3:6])[0:5] }}</span>
        </div>
      {% endfor %}
    </div>
  </body>
</html>